.Header {
  @include background-image(radial-gradient(hsl(21, 100%, 10%),hsl(12, 100%, 5%)));
  margin-bottom: 4em;
  padding: 6em 0 4em;
  background-color: mix(hsl(21, 100%, 10%), hsl(12, 100%, 5%));
  text-align: center;
}

.Header-title {
  margin: 0;
  padding: 0;
  border: 0;
  color: #fff;
  font-size: 6.4em;
  line-height: 1;
  text-shadow: 0 0 10px rgba(0,0,0,0.8);
}

.Header-subtitle {
  margin: 0.8em 0 1.6em;
  padding: 0;
  border: 0;
  color: #808080; // ie8 fallback
  color: rgba(255,255,255,0.5);
  *color: #808080; // ie7 fallback
  font-weight: 400;
  font-size: 1.4em;
}
