.header {
  background-color: #002850;
  background-image: linear-gradient(to right, rgba(0,0,0,0), rgba(0,0,0,.4)), linear-gradient(to top left, #099, #036, #003);
}

.header h1 {
  margin: 0;
  padding: .75em 0 .5em;
  color: #fff;
  font-size: 5em;
  line-height: 1.1;
  text-shadow: 0 0 10px black;
}

.nav {
  position: sticky;
  top: 0;
  overflow: hidden;
  margin-bottom: 3em;
  background-color: #f0f0f0;
  background-image: linear-gradient(to bottom, #f0f0f0, #d8d8d8);
  box-shadow: 0 1px 4px rgba(0,0,0,.4), 0 1px 0 #fff inset, 0 1.5em .3em rgba(255,255,255,.25) inset;
}

.nav ul {
  float: left;
  border-right: 1px solid #f8f8f8;
  border-left: 1px solid #b8b8b8;
  border-right: 1px solid rgba(255,255,255,.8);
  border-left: 1px solid rgba(0,0,0,.2);
}

.nav li {
  float: left;
}

.nav li a {
  float: left;
  padding: .667em 1.333em .5em;
  color: #404040;
  font-weight: 400;
  text-decoration: none;
  border-right: 1px solid #b8b8b8;
  border-left: 1px solid #f8f8f8;
  border-right: 1px solid rgba(0,0,0,.2);
  border-left: 1px solid rgba(255,255,255,.8);
  text-shadow: 0 1px 0 #fff;
}

.nav li a:hover {
  background-color: #f8f8f8;
  background-color: rgba(255,255,255,.5);
}

.container {
  max-width: 960px;
  margin: auto;
  padding: 0 2em;
}

@media (min-width: 40em) {
  .sidebar {
    position: sticky;
    top: 85px;
    float: right;
    width: 8em;
  }
  .content {
    margin-right: 14em;
  }
}